[localePicker]
forceUrl = 1

==

{% if locale == 'fr' %}
    <div class="row" data-right-height>
    <div class="grid-half" data-right-height-content>
        <div class="wrap-pics">
            <img data-animate="true" src="{{ 'assets/public/images/possibilities/pic-healthy-resource-2.png'|theme }}" alt="">
        </div>
    </div>
    <div class="grid-half" data-right-height-content>
        <h2>Une forêt naturelle</h2>
        <ul>
            <li><svg class="check-icon" viewBox="0 0 1 1"><use xlink:href="#check" /></use></svg>Il n’y a pas de monoculture au Québec. Contrairement à la forêt naturelle, la monoculture désigne la plantation d’une seule sorte d’arbre améliorée sur d’immenses superficies, à des fins uniques de production de bois.</li>
            <li><svg class="check-icon" viewBox="0 0 1 1"><use xlink:href="#check" /></use></svg>La forêt québécoise est aménagée depuis plusieurs décennies. Au fil du temps, sa dynamique naturelle et sa biodiversité ont été préservées.</li>
            <li data-animate="true"><svg class="check-icon" viewBox="0 0 1 1"><use xlink:href="#check" /></use></svg>Près de 50 % du territoire québécois est recouvert de forêt, ce qui représente 760 000 km<sup>2</sup>.</li>
        </ul>
    </div>
</div>
{% endif %}

{% if locale == 'en' %}
    <div class="row" data-right-height>
    <div class="grid-half" data-right-height-content>
        <div class="wrap-pics">
            <img data-animate="true" src="{{ 'assets/public/images/possibilities/pic-healthy-resource-2-en.png'|theme }}" alt="">
        </div>
    </div>
    <div class="grid-half" data-right-height-content>
        <h2>A natural forest</h2>
        <ul>
            <li><svg class="check-icon" viewBox="0 0 1 1"><use xlink:href="#check" /></use></svg>Monoculture does not exist in Quebec. The term “monoculture” refers to the planting of one type of enhanced tree over huge areas, for the sole purpose of wood production. Natural forests are composed of many different types.</li>
            <li><svg class="check-icon" viewBox="0 0 1 1"><use xlink:href="#check" /></use></svg>Quebec’s forest has been under management for several decades. Its natural dynamic and biodiversity have been preserved over time.</li>
            <li data-animate="true"><svg class="check-icon" viewBox="0 0 1 1"><use xlink:href="#check" /></use></svg>Nearly 50% of Quebec’s territory, or 760 000 km<sup>2</sup>, is covered in forest.</li>
        </ul>
    </div>
</div>
{% endif %}