[localePicker]
forceUrl = 1

==

<div class="row" data-right-height>
    <div class="grid-half" data-right-height-content>
        <div class="wrap-pics">
            <img data-animate="true" src="{{ 'assets/public/images/possibilities/pic-wood-second-life-1.png'|theme }}" alt="">
            <!-- <img data-animate="true" src="{{ 'assets/public/images/possibilities/pic-wood-second-life-2.png'|theme }}" alt=""> -->
        </div>
    </div>
    <div class="grid-half" data-right-height-content>
        {% if locale == 'fr' %}
            <h2>Les multiples vies du bois</h2>
            <ul>
                <li data-animate="true"><svg class="check-icon" viewBox="0 0 1 1"><use xlink:href="#check" /></use></svg><strong>Le bois et le papier sont recyclables</strong>. Le papier est la matière la plus recyclée au monde.</li>
                <li><svg class="check-icon" viewBox="0 0 1 1"><use xlink:href="#check" /></use></svg><strong>Le bois est récupérable et réutilisable</strong>. Les résidus du sciage sont récupérés dans la fabrication de pâtes, de papiers, de cartons et de panneaux de bois, ainsi que dans la production d’énergie</li>
                <li><svg class="check-icon" viewBox="0 0 1 1"><use xlink:href="#check" /></use></svg><strong>Le bois est écologique</strong>. La transformation du bois de construction est beaucoup moins polluante et requiert moins d’énergie que celle d’autres matériaux.</li>
            </ul>
        {% endif %}
        {% if locale == 'en' %}
            <h2>The many lives of wood</h2>
            <ul>
                <li data-animate="true"><svg class="check-icon" viewBox="0 0 1 1"><use xlink:href="#check" /></use></svg><strong>Wood and paper are recyclable</strong>. Paper is the most recycled material on earth.</li>
                <li><svg class="check-icon" viewBox="0 0 1 1"><use xlink:href="#check" /></use></svg><strong>Wood can be salvaged and reused</strong>. Sawmill by-products are salvaged to produce pulp, paper, cardboard, boards and energy.</li>
                <li><svg class="check-icon" viewBox="0 0 1 1"><use xlink:href="#check" /></use></svg><strong><strong>Wood is an ecological material</strong>. The use of wood in construction pollutes much less and requires less energy than other materials.</li>
            </ul>
        {% endif %}

    </div>
</div>
