@import '../../../../../node_modules/font-awesome/css/font-awesome.css';
@import 'partials/Video-cover';

body {
  // Éviter que la graisse des polices soient trop grasses.
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Brandon';
  src: url('/themes/cifq/assets/public/fonts/BrandonText-Black.woff'); /* IE9 Compat Modes */
  src: url('/themes/cifq/assets/public/fonts/BrandonText-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/themes/cifq/assets/public/fonts/BrandonText-Black.woff') format('woff'), /* Modern Browsers */
       url('/themes/cifq/assets/public/fonts/BrandonText-Black.woff2') format('woff2'), /* Modern Browsers */
       url('/themes/cifq/assets/public/fonts/BrandonText-Black.ttf')  format('truetype'), /* Safari, Android, iOS */;

  font-style: normal;
  font-weight:  900;
}

@font-face {
  font-family: 'Brandon';
  src: url('/themes/cifq/assets/public/fonts/BrandonText-Bold.woff'); /* IE9 Compat Modes */
  src: url('/themes/cifq/assets/public/fonts/BrandonText-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/themes/cifq/assets/public/fonts/BrandonText-Bold.woff') format('woff'), /* Modern Browsers */
       url('/themes/cifq/assets/public/fonts/BrandonText-Bold.woff2') format('woff2'), /* Modern Browsers */
       url('/themes/cifq/assets/public/fonts/BrandonText-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */;

  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Brandon';
  src: url('/themes/cifq/assets/public/fonts/BrandonText-Light.woff'); /* IE9 Compat Modes */
  src: url('/themes/cifq/assets/public/fonts/BrandonText-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/themes/cifq/assets/public/fonts/BrandonText-Light.woff') format('woff'), /* Modern Browsers */
       url('/themes/cifq/assets/public/fonts/BrandonText-Light.woff2') format('woff2'), /* Modern Browsers */
       url('/themes/cifq/assets/public/fonts/BrandonText-Light.ttf')  format('truetype'), /* Safari, Android, iOS */;

  font-style:   normal;
  font-weight:  300;
}

@font-face {
  font-family: 'BrandonGrotesqueRegularItalic';
  src: url('/themes/cifq/assets/public/fonts/BrandonGrotesqueRegularItalic.eot');
  src: url('/themes/cifq/assets/public/fonts/BrandonGrotesqueRegularItalic.eot') format('embedded-opentype'),
        url('/themes/cifq/assets/public/fonts/BrandonGrotesqueRegularItalic.woff2') format('woff2'),
        url('/themes/cifq/assets/public/fonts/BrandonGrotesqueRegularItalic.woff') format('woff'),
        url('/themes/cifq/assets/public/fonts/BrandonGrotesqueRegularItalic.ttf') format('truetype'),
        url('/themes/cifq/assets/public/fonts/BrandonGrotesqueRegularItalic.svg#BrandonGrotesqueRegularItalic') format('svg');
}

@font-face {
  font-family: "Plantin";
  src: url("/themes/cifq/assets/public/fonts/PlantinStd-Italic.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}


.header__wrap-links {
  display: flex;
}

.is-desktop {
  display: block;
  visibility: inherit;
  opacity: 1;
  height: initial;
  @media screen and (max-width: 1024px) {
    display: none;
    visibility: hidden;
    opacity: 0;
    height: 0;
  }
}

.is-mobile {
  display: none;
  visibility: hidden;
  opacity: 0;
  height: 0;
  @media screen and (max-width: 1024px) {
    opacity: 1;
    display: block;
    visibility: inherit;
    height: initial;
  }
}

.extra-links {
  margin-top: 20px;
  .header__social-menu:before {
    display: none;
  }
}


#page-nosforets{

    $c-gray: #6a6a6a;
    $c-graydark: #454545;
    $c-greenfluo: #9ae113;
    $c-green: #84c425;
    $c-error: red;

    $x-mobile-breakpoint: 400px;
    $mobile-breakpoint: 600px;
    $mobile-form-breakpoint: 800px;


    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    font-family: 'Brandon', sans-serif;
    font-weight: 500;
    letter-spacing: 1.25px;
    background: white;

    .nav{
      z-index: 9;
    }

    .green-block{
      &.is-banner {
        p {
          font-size: 4.4vw;
          line-height: 6vw;
          font-family: 'BrandonGrotesqueRegularItalic';
          letter-spacing: normal;
          margin: 0;
          padding: 0;
          @media screen and (max-width: 600px) {
            font-size: 20px;
            line-height: 1.2;
          }
        }
      }
    }


    img{
      max-width: 100%;
    }

    .-hidden{
      display: none;
    }

    .arrow-down{
      width: 0;
      height: 0;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-top: 20px solid #000;
    }


    .header{
      height: calc(100vh - 80px);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 100% 50%;
      background-attachment: fixed;
      font-size: 20px;
      overflow: hidden;
			height: 0;
			padding-top: 37.5%;


      @media screen and (max-width: 1760px) {
        background-position: 70% 50%;
      }

      @media screen and (max-width: 1024px) {
        padding-top: inherit;
        height: 600px;
      }

      @media screen and (max-width: 680px) {
        background-position: 60% 50%;
      }

      @media screen and (max-width: $mobile-form-breakpoint) {
        font-size: 12px;
      }



      > .container{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 100%;
        max-width: inherit;

        .signature{
          margin-bottom: 30px;
          text-align: center;

          &.main-title {
            position: relative;
            height: 200px;
            display: flex;
            justify-content: center;
            .title {
              position: absolute;
              transition: opacity .5s ease-out;
              opacity: 0;
              display: flex;
              align-self: center;
              &.is-show {
                opacity: 1;
              }
            }
          }
          @media screen and (max-width: 600px) {
            // Le logo n'est pas centré sinon à cause du T pour aménagement dans le titre
            margin-right: -11vw;
          }
          @media screen and (max-width: 1200px) {
            img{
              width: 300px;
            }

          }
        }

        .intro{
          width: 80%;
          max-width: 1024px;
          margin: auto;
          background: rgba(0,0,0,.30);
          padding:30px;
          font-family: Plantin;
          letter-spacing: normal;
          text-align: center;
          font-size: 18px;
          line-height: 22px;

          @media screen and (max-width: 768px) {
            width: 100%;
            font-size: 16px;
            padding: 24px;
          }
        }
      }

      .mouse-scroll{
        position: absolute;
        bottom: 36px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: column;
        text-align: center;
        font-family: 'Plantin Std', sans-serif;
        font-weight: 400;
        font-size: 18px;
        img{
          width: 26px;
          margin-bottom: 10px;
        }
        span{
          font-size: 16px;
        }
        @media screen and (max-width: 1400px) {
          display: none;
        }
      }


        .video-background {
          background: #000;
          top: 0; right: 0; bottom: 0; left: 0;
          z-index: -99;

          @media screen and (max-width: 1080px) {
            display: none;
          }

        }
        .video-foreground,
        .video-background iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          pointer-events: none;
        }

        @media (min-aspect-ratio: 16/9) {
          .video-foreground { height: 300%; top: -100%; }
        }
        @media (max-aspect-ratio: 16/9) {
          .video-foreground { width: 300%; left: -100%; }
        }
        @media all and (max-width: 600px) {
        .vid-info { width: 50%; padding: .5rem; }
        .vid-info h1 { margin-bottom: .2rem; }
        }
        @media all and (max-width: 500px) {
        .vid-info .acronym { display: none; }
        }

    }

    .content{
      background-color: white;

      .container{
        max-width: 1600px;
        margin:0 auto;
      }

      &.intro{
        padding: 4vw 0;
        color: $c-gray;
        text-align: center;
        font-size: 26px;
        font-family: Plantin;
        letter-spacing: normal;
        background-size: cover;

        h1{
          font-weight: 700;
          font-size: 44px;
          font-family: Brandon;
          color:$c-green;
          line-height: 1.15;
          padding: 0;
          @media screen and (max-width: 600px) {
            font-size: 30px;
            line-height: 1.1;
          }
        }

        p {
          line-height: 1.1;
          padding: 0 5vw;
          margin: 0;
          font-size: 23px;
          @media screen and (max-width: 600px) {
            font-size: 16px;
            padding: 0;
          }
          .collectif-logo {
            @media screen and (max-width: 600px) {
              max-width: 40%;
            }
          }
        }


        h2{
          margin-top: -50px;
          font-weight: 400;
          font-style: italic;
          font-size: 28px;
          font-family: 'Plantin Std', sans-serif;
        }

        .list{
          display: flex;
          text-align: left;

          @media screen and (max-width: $mobile-breakpoint) {
            display: block;
          }

          ul{
            list-style: none;
            @media screen and (min-width: $mobile-breakpoint) {
              &:first-child{
                padding-right: 30px;
              }
              &:last-child{
                padding-left: 30px;
              }
            }

            li{
              position: relative;
              padding-left: 24px;
              padding-bottom: 26px;
              line-height: 20px;
              &:before{
                content: '';
                position: absolute;
                top: 3px;
                left: 0;
                display: block;
                width: 12px;
                height: 13px;
                background-image: url('/themes/cifq/assets/public/images/list-checkbox.png')
              }
              &.special{
                color: $c-greenfluo;
                font-size: 24px;
                font-family: 'Plantin Std', sans-serif;
                font-weight: 400;
                font-style: italic;
                line-height: 32px;
                &:before{
                  display: none;
                }
              }
            }
          }
        }

        .signature{
          margin: 60px 0;
        }

      }


      &.before-form{
        padding: 3vw 0;
        background-color: $c-green;
        text-align: center;
        font-size: 26px;
        line-height: 32px;
        z-index: 9;
        position: relative;

        .arrow-down{
          position: absolute;
          bottom: -20px;
          left: 50%;
          transform: translateX(-50%);
          border-top-color: $c-green;
        }

      }


      &.green-block{
        padding: 4vw 0 4vw;
        background-color: $c-green;
        text-align: center;
        font-size: 26px;
        line-height: 32px;
        z-index: 9;

        @media screen and (max-width: 1024px) {
          .container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .grid-third {
              width: 100%;
              @media screen and (max-width: 600px) {
                &:first-child {
                  width: 240px;
                  margin: 0 auto;
                }
              }
            }
          }
        }

        .green-block-knowledge {
          padding-top: 60px;
          @media screen and (max-width: 1024px) {
            padding-top: 0px;
          }

          h1{
            color:black;
            text-align:left;
            font-family: Brandon;
            font-style: normal;
            font-weight: 300;
            font-size:1em;
            @media screen and (max-width: 1024px) {
              text-align: center;
            }
          }

          p{
            color:white;
            text-align: left;
            font-family: Brandon;
            font-weight: 300;
            font-size:0.7em;
            margin: 0;
            @media screen and (max-width: 1024px) {
              text-align: center;
              margin-bottom: 30px;
            }
          }
        }

        .green-block-quiz-wrapper{
          padding-top: 81px;
          @media screen and (max-width: 1024px) {
            padding-top: 0px;
          }
        }

        .quiz-btn{
          display: inline-flex;
          padding: 15px 30px 15px 70px;
          background-color: $c-graydark;
          text-decoration: none;
          @media screen and (max-width: 1024px) {
            padding: 15px 30px 15px 40px;
          }

          .quiz-btn-text{
            font-size: 20px;
            font-family: Brandon;
            font-style:   normal;
            font-weight:  400;
            background: transparent;
            padding-right: 50px;
            letter-spacing: normal;
          }

          .arrow-next-icon {
            width: 42px;
            height: 30px;
            display: flex;
            align-self: center;
          }

        }

      }


      &.form{
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        width: 100%;
        height: 100%;

        @media screen and (max-width: $mobile-form-breakpoint) {
          background-attachment: initial;
          .grid-half{
            width: 100%;
          }
        }

        .container{
          position: relative;
          max-width: 1440px;

          .card-container .grid-third {
            padding-left: 5%;
            padding-right: 5%;
            @media only screen and (max-width:1024px) {
              width: 100%;
              margin-bottom: 60px;
            }

            @media only screen and (max-width:600px) {
              margin-bottom: 30px;
            }

            .intro p {
              margin: 0;
            }
          }

          &.is-why {
            .row {
              margin: 5vw auto;
              @media only screen and (max-width:1024px) {
                display: flex;
                flex-direction: column;
                width: 100%;
              }
            }
          }

          .why-container{
            max-width: 95%;
            margin: 0 auto;
            display: flex;
            justify-content: space-around;



            .item {
              display: inline-block;
              @media only screen and (max-width:1024px) {
                display: block;
                margin: 0 auto;
              }
            }

            .line{
              background-color: white;
              width: 30vw;
              height: 2px;
              padding-top: 2;
              margin-top: 30px;
              @media only screen and (max-width:1024px) {
                width: 90%;
                margin: 30px auto;
              }
              @media only screen and (max-width:600px) {
                margin: 15px auto;
              }
            }
          }

          .why{
            font-family: Brandon;
            font-size: 30px;
            @media only screen and (max-width:600px) {
              font-size: 20px;
            }
          }

          .know-that{
            font-family: Plantin;
            font-size: 30px;
            float:right;
            @media only screen and (max-width:600px) {
              font-size: 20px;
            }
          }

          .signature{
            text-align: center;
            @media only screen and (max-width:600px) {
              width: 200px;
              margin: 0 auto;
            }

          }


          .intro{
            font-family: Plantin;
            font-size: 30px;
            text-align: center;
            padding-top: 45px;
            letter-spacing: normal;
            line-height: 1.2;
            @media only screen and (max-width:600px) {
              font-size: 20px;
            }
          }
        }

        h2{
          margin-bottom: 80px;
          font-weight: 600;
          font-size: 30px;
          text-align: center;
        }

        .form-step{
          position: absolute;
          transition: all 1s;
          opacity: 0;
          z-index: 0;
          &[data-active="1"]{
            opacity: 1;
            z-index: 1;
          }
        }


        .input{
          display: flex;
          margin-bottom: 32px;

          span{
            width: 20px;
            color: white;
            font-size: 25px;
            position: relative;
            top: 11px;
            left: 10px;
            transition: all 0.5s;
          }

          &.-error{
            color: $c-error;
            input[type="text"], input[type="email"], textarea{
              border-color: $c-error;
            }
            span{
              color: $c-error;
            }
          }

        }



        input[type="text"], input[type="email"], textarea{
          height: 48px;
          border: 2px solid white;
          background-color: transparent;
          color: white;
          font-size: 20px;
          padding-left: 20px;
          font-family: 'Pantograph';
          font-weight: 400;
          transition: all 0.5s;
          &::placeholder{
            text-transform: uppercase;
            color: rgba(255,255,255,0.65);
          }
        }

        .foret-btn{
          display: flex;
          justify-content: space-around;
          align-items: center;
          width: 310px;
          height: 65px;
          margin: 0 auto;
          padding: 0 50px;
          background-color: $c-greenfluo;
          font-size: 20px;
          text-transform: uppercase;
          text-decoration: none;

          @media screen and (max-width: $mobile-form-breakpoint) {
            width: 100%;
            height: auto;
          }

          &.btn-upload{
            width: 100%;
            background-color:  $c-graydark;
            font-family: 'Pantograph';
            font-weight: 400;
            transition: all 0.5s;
            &.-error{
              background-color: $c-error;
            }
          }

        }

        .copyright{
          float: none;
          clear: both;
          margin: 0 auto;
          padding-top: 50px;
          color: rgba(255,255,255, 0.6);
          font-size: 14px;
          text-align: center;
          font-family: 'Plantin Std', sans-serif;
          font-style: normal;
          a{
            color: rgba(255,255,255, 0.6);
          }
          em{
            font-style: normal;
          }
        }


      }

      .form-step[data-step="2"]{
        padding: 30px 60px 100px;
        background: white;
        color: #000;
        font-size: 18px;

        @media screen and (max-width: $mobile-form-breakpoint) {
          padding: 30px 10px 100px;
        }

        textarea{
          height: 200px;
          border-color: $c-graydark;
          color: $c-graydark;
          &.-error{
            border-color: $c-error;
          }
          &::placeholder{
            color: rgba(0,0,0,0.65);
          }
        }

        .form-step-2-intro{
          font-weight: 700;
        }

        .citation{
          font-size: 14px;
          p{
            text-align: center;
          }
          &.-left{
            padding-right: 36px;
            @media screen and (max-width: $mobile-form-breakpoint) {
              padding-right: 0;
            }
          }
          &.-right{
            padding-left: 36px;
            @media screen and (max-width: $mobile-form-breakpoint) {
              padding-left: 0;
            }
          }
        }

        .control-options{
          margin-top: 26px;
          font-size: 11px;
          font-family: 'Plantin Std', sans-serif;
          font-weight: 400;

          .control{
            margin-bottom: 32px;
            &:last-child{
              margin-bottom: 0;
            }
            &.-error{
              .control_indicator{
                border-color: $c-error;
                transition: all 0.5s;
              }
            }
          }

        }

        .submit-confirm-btn{
          position: absolute;
          bottom: -30px;
          left: 50%;
          transform: translateX(-50%);
        }

      }

    }



  .control {

      display: block;
      position: relative;
      padding-left: 36px;
      margin-bottom: 0px;
      padding-top: 0px;
      cursor: pointer;
  }
      .control input {
          position: absolute;
          z-index: -1;
          opacity: 0;
      }
  .control_indicator {
      position: absolute;
      top: 0px;
      left: 0;
      height: 20px;
      width: 20px;
      border: 2px solid #000000;
  }




  .control input:disabled ~ .control_indicator {
      background: #e6e6e6;
      opacity: 35;
      pointer-events: none;
  }
  .control_indicator:after {
      box-sizing: unset;
      content: '';
      position: absolute;
      display: none;
  }
  .control input:checked ~ .control_indicator:after {
      display: block;
  }
  .control-checkbox .control_indicator:after {
      left: 5px;
      top: 1px;
      width: 4px;
      height: 8px;
      border: solid #84c425;
      border-width: 0 3px 3px 0;
      transform: rotate(45deg);
  }
  .control-checkbox input:disabled ~ .control_indicator:after {
      border-color: #7b7b7b;
  }


  .Medias__swiper-container {
    position: relative;
    overflow: hidden;
  }

  .Medias__swiper-slide {
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 931px;
    background-size: cover;
    background-position: 50% 50%;
    @media screen and (max-width: 1024px) {
      height: 100vh;
      background-position: 75% 50%;
      &.is-6 {
        background-position: 25% 50%;
      }
    }

    @media screen and (max-width: $mobile-form-breakpoint) {
      height: calc(100vh - 60px);
    }

  }

  .Medias__swiper-slide-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
    z-index: 0;
  }

  .Medias__swiper-slide-content {
    max-width: 43%;
    padding-left: 180px;
    z-index: 1;
    letter-spacing: 1.5px;


    @media only screen and (min-width:1024px) {
      &.is-6 {
        position: absolute;
        right: 150px;
        padding-left: 0;
        .Medias__swiper-slide-content-play {
          position: absolute;
          left: 0;
          bottom: -70px;
        }
      }
    }
    @media only screen and (max-width:1200px) {
      max-width: 88%;
    }
    @media only screen and (max-width:1024px) {
      max-width: 70%;
      padding: 0;
      margin: 0 auto;
    }
  }

  .Medias__swiper-slide-content-quote {
    position: relative;
    margin-bottom: 30px;
    color: #fff;
    font-size: 50px;
    font-family: Brandon;
    font-weight: 900;
    line-height: 66px;
    letter-spacing: normal;
    .quote {

      &::before,
      &::after {
        font-size: 3vw;
        font-family: Brandon;
        font-weight: 300;
        color: #84c425;
        font-style: italic;
        line-height: 0;
        @media only screen and (max-width:600px) {
          font-size: 35px;
        }
      }

      &::before {
        content: '«';
        transform: translateX(-150%);
        position: absolute;
        top: 15px;
        @media only screen and (max-width:1024px) {
          top: 8px;
        }
        @media only screen and (max-width:600px) {
          top: 3px;
        }
      }

      &::after {
        content: '»';
        left: 10px;
        position: relative;
        bottom: -3px;
        @media only screen and (max-width:1200px) {
          left: 0px;
        }
        @media only screen and (max-width:600px) {
          left: -2px;
          bottom: -1px;
        }

      }
    }
    @media only screen and (max-width:1024px) {
      font-size: 38px;
      line-height: 1.2;
    }

    @media only screen and (max-width:768px) {
      font-size: 28px;
      line-height: 1.1;
    }
    @media only screen and (max-width:600px) {
      margin-bottom: 20px;
    }
  }

  .Medias__swiper-slide-content-name {
    color: #fff;
    font-size: 28px;
    font-family: Brandon;
    font-weight: 900;
    font-style: italic;
    @media only screen and (max-width:1024px) {
      font-size: 26px;
      line-height: normal;
    }

    @media only screen and (max-width:768px) {
      font-size: 24px;
    }
    @media only screen and (max-width:600px) {
      font-size: 20px;
    }
  }

  .Medias__swiper-slide-content-description {
    max-width: 58%;
    color: #fff;
    font-size: 24px;
    font-family: Brandon;
    font-weight: 300;
    line-height: 34px;
    letter-spacing: 0.03em;
    @media only screen and (max-width:1024px) {
      font-size: 22px;
      line-height: 1.3;
    }

    @media only screen and (max-width:768px) {
      font-size: 20px;
    }

    @media only screen and (max-width:600px) {
      font-size: 16px;
      line-height: normal;
      max-width: 100%;
    }
  }



  .Medias__swiper-button-prev,
  .Medias__swiper-button-next {
    max-width: 5vw;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    cursor: pointer;
    transition: all 0.5s;
  }

  .Medias__swiper-button-prev.swiper-button-disabled,
  .Medias__swiper-button-next.swiper-button-disabled {
    opacity: 0;
    cursor: default;
  }

  .Medias__swiper-button-prev {
    left: 20px;
  }

  .Medias__swiper-button-next {
    right: 20px;
  }



#videoIframe{
  width: 100%;
  height: 100%;
}


}

.header-content-play-container{
  width: 1024px;
  border: 1px solid red;
}

#header-content-play.Medias__swiper-slide-content-play{
  position: absolute;
  right: 0px;
  left: inherit;
  width: initial;
  top: -106px;
  font-size: 24px;
  @media only screen and (max-width:1024px) {
    top: 360px;
    right: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
  }

  @media only screen and (max-width:960px) {
    right: -66px;
  }
}

.Medias__swiper-slide-content-play {
  display: flex;
  margin-top: 20px;
  align-items: center;
  text-transform: none;
  text-decoration: none;
  font-size: 33px;
  font-family: Plantin;
  font-style: italic;
  letter-spacing: 0.5px;
  color: #fff;
  @media only screen and (max-width:600px) {
    max-width: initial;
    width: 100%;
    img {
      width: 45px;
    }
  }
  .Header__play-btn {
    margin: 0 0 0 20px;
    @media only screen and (max-width:1024px) {
      font-size: 16px;
      line-height: normal;
    }
  }
}

.Lightbox {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: transform 0.5s, opacity 0.5s;
  opacity: 0;
  transform: translateY(-100%);
  z-index: 9999;
}
.Lightbox.is-active {
  transform: translateY(0%);
  opacity: 1;
}
.Lightbox__background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.8);
}
.Lightbox__close {
  position: absolute;
  color: #fff;
  right: 15px;
  top: 15px;
  font-size: 30px;
  padding: 15px;
  cursor: pointer;
  font-family: Pantograph;
}
.Lightbox__video {
  overflow: hidden;
  transform: scale(0.8);
  width: 100vw;
  height: calc(100vw * 9 / 16);
  margin: auto;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;

.Lightbox__video iframe {
  width: 100%;
  height: 100%;
}
.Lightbox__form {
  position: absolute;
  width: 600px;
  max-width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.Lightbox #video_mp4 {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  }
}

.Lightbox iframe{
  width: 100%;
  height: 100%;
}

.Lightbox{
  display: block;
}
#header-content-play{
  display: flex;
}
