title = "forest"
url = "/jycrois"
is_hidden = 0
layout = "default"

[viewBag]
localeUrl[en] = "/forest"

[localePicker]
forceUrl = 1
==
<?php
use RainLab\Translate\Classes\Translator;

function onStart()
{
    $this['pageClass'] = 'page-nosforets';

    $this->translator = Translator::instance();
    $locale = $this->translator->getLocale();

    if ($locale == "fr") {
        $this['header'] = [
          'intro' => 'Plus vertes que jamais, nos forêts sont source de fierté et d’innovations. Elles représentent près de 50 % de notre territoire et méritent 100 % de notre appui.',
          'more' => 'En savoir plus'
        ];

        $this['statement'] = [
          'title' => 'NOS FORÊTS,<br>NOTRE FORCE COLLECTIVE',
          'description' => '
          Nous sommes plus de 50 organisations d’horizons diversifiés, enracinées sur tout le territoire québécois.<br><br>
          Nous sommes des témoins privilégiés de la vitalité et de la diversité des possibilités qu’offrent nos forêts.<br><br>
          Nous reconnaissons que l’aménagement de nos forêts est ancré dans les principes du développement durable, afin d’offrir aux générations de demain les avantages environnementaux, économiques et sociaux qu’il procure.<br><br>
          Nous constatons que nos forêts sont partagées respectueusement entre ses différents usagers.<br><br>
          Nous sommes emballés par le consensus scientifique selon lequel nos forêts, et les produits qu’elles nous permettent de développer, sont  avantageux pour améliorer le bilan carbone mondial.<br><br>
          Nous sommes engagés pour que nos forêts jouent un rôle encore plus grand, au service de la collectivité québécoise.<br><br>
          Nous nous unissons au bénéfice des forêts québécoises.<br><br>
          Nos forêts, nous y croyons.<br><br>
          Nous sommes le Collectif pour une forêt durable.<br><br>'
        ];

        $this['ambassador'] = [
          'title' => 'Découvrez les multiples visages du Collectif pour une forêt durable'
        ];

        $this['facts'] = [
          'header' => [
            'why' => 'Pourquoi y croire ?',
            'know' => 'Saviez-vous que...'
          ],
          'card1' => [
            'image' => '/forest-bloc/forest-card-1.png',
            'label' => 'Près de 50 % du territoire québécois est recouvert de forêt'
          ],
          'card2' => [
            'label' => '80 % des forêts se régénèrent naturellement'
          ],
          'card3' => [
            'label' => 'Moins de 1 % du territoire forestier est récolté chaque année'
          ]
        ];

        $this['quiz'] = [
          'knowledge' => [
            'title' => 'Vérifiez vos connaissances!',
            'description' => 'Êtes-vous un bûcheron dans l’âme ou plutôt un forestier de salon?  Testez votre niveau de connaissance de la forêt québécoise avec ces miniquiz!'
          ],
          'button' => [
            'label' => 'FAITES LE TEST'
          ]
        ];

        $this['video'] = [
          'button' => [
            'label' => 'Visionnez la vidéo'
          ]
        ];

        $this['sliders'] = [
          'slide1' => [
              'quote' => 'La forêt est un grand jardin qui se renouvelle sans cesse.',
              'name' => 'Normand Simard',
              'description' => 'Ingénieur forestier et directeur des approvisionnements',
              'image' => '/sliders/Normand Simard_0529.jpg',
              'video' => 'Mn1-cwcLBQo'
            ],
            'slide2' => [
              'quote' => 'Développer le secteur forestier, c’est harmoniser les préoccupations humaines et environnementales.',
              'name' => 'Alhassane A. Diallo',
              'description' => 'Coordonnateur environnement et foresterie',
              'image' => '/sliders/Alhassanea Diallo_1071.jpg',
              'video' => 'Fu92NPKNjhY'
            ],
            'slide3' => [
              'quote' => 'La forêt québécoise, ce n’est pas que du bois : c’est une source de fierté.',
              'name' => 'Yvon Soucy',
              'description' => 'Préfet de la MRC de Kamouraska',
              'image' => '/sliders/Yvon Soucy_0376.jpg',
              'video' => 'y4be-_gDrPU'
            ],
            'slide4' => [
              'quote' => 'La forêt a toujours fait partie de ma vie et je veux m’impliquer pour qu’elle en fasse partie encore longtemps.',
              'name' => 'Élie Duchesne',
              'description' => 'Étudiante en arpentage',
              'image' => '/sliders/Elie Duchesne_GA_0981.jpg'
            ],
            'slide5' => [
              'quote' => 'Je suis fière de transmettre ma passion à mes étudiants, car je leur permets de découvrir un secteur riche en défis et en opportunités.',
              'name' => 'Vanessa Auger',
              'description' => 'Technicienne forestière et enseignante',
              'image' => '/sliders/Vanessa Auger _9617.jpg',
              'video' => 'wNjjK4C1LHA'
            ],
            'slide6' => [
              'quote' => 'Les avancées technologiques améliorent constamment les conditions des travailleurs, qui sont au cœur des pratiques forestières.',
              'name' => 'Pierre Godin',
              'description' => 'Mécanicien de machines fixes',
              'image' => '/sliders/Pierre Godin_1267.jpg'
            ],
            'slide7' => [
              'quote' => 'Notre forêt, on s’en occupe, car c’est notre avenir!',
              'name' => 'Karine Lévesque',
              'description' => 'Opératrice à la salle de finition et responsable de l’emballage des rouleaux',
              'image' => '/sliders/Karine Levesque_8970.jpg'
            ],
            'slide8' => [
              'quote' => 'Nous avons la responsabilité de nous assurer que la pérennité des écosystèmes soit la priorité dans toutes les facettes de notre travail.',
              'name' => 'Nadia Vaillancourt',
              'description' => 'Biologiste, cueilleuse professionnelle et animatrice-naturaliste',
              'image' => '/sliders/Nadia Vaillancourt_0675.jpg'
            ],
            'slide9' => [
              'quote' => 'Enrichir notre territoire, c’est prendre soin de ses ressources et en respecter les différents usages.',
              'name' => 'Jean-Maurice Matte',
              'description' => 'Maire de Senneterre',
              'image' => '/sliders/7696-UMQ_3984_JeanMaurice_Matte.jpg'
            ]
        ];

    } else if ($locale == "en") {
      $this['header'] = [
          'intro' => 'Plus vertes que jamais, nos forêts sont source de fierté et d’innovations. Elles représentent près de 50 % de notre territoire et méritent 100 % de notre appui.',
          'more' => 'En savoir plus'
        ];

        $this['statement'] = [
          'title' => 'NOS FORÊTS,<br>NOTRE FORCE COLLECTIVE',
          'description' => '
          Nous sommes plus de 50 organisations d’horizons diversifiés, enracinées sur tout le territoire québécois.<br><br>
          Nous sommes des témoins privilégiés de la vitalité et de la diversité des possibilités qu’offrent nos forêts.<br><br>
          Nous reconnaissons que l’aménagement de nos forêts est ancré dans les principes du développement durable, afin d’offrir aux générations de demain les avantages environnementaux, économiques et sociaux qu’il procure.<br><br>
          Nous constatons que nos forêts sont partagées respectueusement entre ses différents usagers.<br><br>
          Nous sommes emballés par le consensus scientifique selon lequel nos forêts, et les produits qu’elles nous permettent de développer, sont  avantageux pour améliorer le bilan carbone mondial.<br><br>
          Nous sommes engagés pour que nos forêts jouent un rôle encore plus grand, au service de la collectivité québécoise.<br><br>
          Nous nous unissons au bénéfice des forêts québécoises.<br><br>
          Nos forêts, nous y croyons.<br><br>
          Nous sommes le Collectif pour une forêt durable.<br><br>'
        ];

        $this['ambassador'] = [
          'title' => 'Découvrez les multiples visages du Collectif pour une forêt durable'
        ];

        $this['facts'] = [
          'header' => [
            'why' => 'Pourquoi y croire ?',
            'know' => 'Saviez-vous que...'
          ],
          'card1' => [
            'image' => '/forest-bloc/en/forest-card-1.png',
            'label' => 'Près de 50 % du territoire québécois est recouvert de forêt'
          ],
          'card2' => [
            'label' => 'Moins de 1 % du territoire forestier est récolté chaque année'
          ],
          'card3' => [
            'label' => '80 % des forêts se régénèrent naturellement'
          ]
        ];

        $this['quiz'] = [
          'knowledge' => [
            'title' => 'Vérifiez vos connaissances!',
            'description' => 'Êtes-vous un bûcheron dans l’âme ou plutôt un forestier de salon?  Testez votre niveau de connaissance de la forêt québécoise avec ces miniquiz!'
          ],
          'button' => [
            'label' => 'FAITES LE TEST'
          ]
        ];

        $this['video'] = [
          'button' => [
            'label' => 'Visionnez la vidéo'
          ]
        ];

        $this['sliders'] = [
          'slide1' => [
              'quote' => 'La forêt est un grand jardin qui se renouvelle sans cesse.',
              'name' => 'Normand Simard',
              'description' => 'Ingénieur forestier et directeur des approvisionnements',
              'image' => '/sliders/Normand Simard_0529.jpg',
              'video' => 'Mn1-cwcLBQo'
            ],
            'slide2' => [
              'quote' => 'Développer le secteur forestier, c’est harmoniser les préoccupations humaines et environnementales.',
              'name' => 'Alhassane A. Diallo',
              'description' => 'Coordonnateur environnement et foresterie',
              'image' => '/sliders/Alhassanea Diallo_1071.jpg'
            ],
            'slide3' => [
              'quote' => 'La forêt québécoise, ce n’est pas que du bois : c’est une source de fierté.',
              'name' => 'Yvon Soucy',
              'description' => 'Préfet de la MRC de Kamouraska',
              'image' => '/sliders/Yvon Soucy_0376.jpg',
              'video' => 'y4be-_gDrPU'
            ],
            'slide4' => [
              'quote' => 'La forêt a toujours fait partie de ma vie et je veux m’impliquer pour qu’elle en fasse partie encore longtemps.',
              'name' => 'Élie Duchesne',
              'description' => 'Étudiante en arpentage',
              'image' => '/sliders/Elie Duchesne_GA_0981.jpg'
            ],
            'slide5' => [
              'quote' => 'Je suis fière de transmettre ma passion à mes étudiants, car je leur permets de découvrir un secteur riche en défis et en opportunités.',
              'name' => 'Vanessa Auger',
              'description' => 'Forestry Technician and Teacher',
              'image' => '/sliders/Vanessa Auger _9617.jpg',
              'video' => 'wNjjK4C1LHA'
            ],
            'slide6' => [
              'quote' => 'Les avancées technologiques améliorent constamment les conditions des travailleurs, qui sont au cœur des pratiques forestières.',
              'name' => 'Pierre Godin',
              'description' => 'Mécanicien de machines fixes',
              'image' => '/sliders/Pierre Godin_1267.jpg'
            ],
            'slide7' => [
              'quote' => 'Notre forêt, on s’en occupe, car c’est notre avenir!',
              'name' => 'Karine Lévesque',
              'description' => 'Opératrice à la salle de finition et responsable de l’emballage des rouleaux',
              'image' => '/sliders/Karine Levesque_8970.jpg'
            ],
            'slide8' => [
              'quote' => 'Nous avons la responsabilité de nous assurer que la pérennité des écosystèmes soit la priorité dans toutes les facettes de notre travail.',
              'name' => 'Nadia Vaillancourt',
              'description' => 'Biologiste, cueilleuse professionnelle et animatrice-naturaliste',
              'image' => '/sliders/Nadia Vaillancourt_0675.jpg'
            ],
            'slide9' => [
              'quote' => 'Enrichir notre territoire, c’est prendre soin de ses ressources et en respecter les différents usages.',
              'name' => 'Jean-Maurice Matte',
              'description' => 'Maire de Senneterre',
              'image' => '/sliders/7696-UMQ_3984_JeanMaurice_Matte.jpg'
            ]
        ];

    }
}
?>
==

{% set imgPath = '/themes/cifq/assets/public/images' %}
{% set videoPath = '/themes/cifq/assets/public/videos' %}

<link href="/themes/cifq/assets/compiled/foret.css" rel="stylesheet">
<div id="page-nosforets">

    <div class="header" style="background-image: url('{{ imgPath }}/new_header_home.png')">

        <div class="fullscreen-bg">
            <video src="{{ videoPath }}/SECTEUR_FORESTIER_60SEC_1080p_ONLINE_SS_SUPERS.mp4" autoplay="autoplay" muted="muted" loop="loop" class="fullscreen-bg__video"></video>
            <div class="fullscreen-bg-mask"></div>
        </div>

        <div class="container">
            <div class="row">
                <div class="grid-full">
                    <div class="signature main-title">
                        <img class="title is-1" src="{{ imgPath }}/forest-title.png" />
                        <img class="title is-2" src="{{ imgPath }}/titre2.png" />
                        <img class="title is-3" src="{{ imgPath }}/titre3.png" />
                    </div>

                    <p class="intro">
                      {{ header.intro }}
                    </p>
                </div>
            </div>

        </div>

        <div class="mouse-scroll">
            <div><img src="{{ imgPath }}/mouse-scroll.png" class="scroll" /></div>
            <span>{{ header.more }}</span>
        </div>

    </div>

    <div class="content intro" style="background-image: url('{{ imgPath }}/foret-intro-pattern.jpg')">
        <div class="container">
            <div class="grid-full intro">
                <h1>{{ statement.title|raw }}</h1>
                <p>{{ statement.description|raw  }}<br>
                <img class="collectif-logo" src="{{ imgPath }}/collectif.png" />
            </div>
        </div>
    </div>

    <div class="content before-form">
        <div class="container">
            <div class="grid-full green-block is-banner">
                <p>{{ ambassador.title }}</p>
            </div>
        </div>
        <div class="arrow-down"></div>
    </div>

    <div class="Medias">

    <div class="Medias__container"></div>
  	<div class="Medias__bg"></div>

    <!-- Slider main container -->
    <div class="Medias__swiper-container">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->

            {% for slider in sliders %}
              <div class="swiper-slide" data-video="{{slider.video}}">
                <div class="Medias__swiper-slide is-{{ loop.index }}" style="background-image: url('{{ imgPath }}/{{ slider.image}}')">
                  <div class="Medias__swiper-slide-mask"></div>
                  <div class="Medias__swiper-slide-content is-{{ loop.index }}">
                    <div class="Medias__swiper-slide-content-quote">
                      <span class="quote">{{ slider.quote }}</span>
                    </div>
                    <div class="Medias__swiper-slide-content-name">{{ slider.name }}</div>
                    <div class="Medias__swiper-slide-content-description">{{ slider.description }}</div>
                    {% if slider.video %}
                        <a href="#" class="Medias__swiper-slide-content-play">
                        <img src="{{ imgPath }}/play_btn.png">
                        <p class="Header__play-btn">{{ video.button.label }}</p>
                        </a>
                    {% endif %}
                  </div>
                </div>
              </div>
            {% endfor %}

        </div>

        <!-- If we need navigation buttons -->
        <div class="Medias__swiper-button-prev">
          <img src="{{ imgPath }}/arrow_left.png" alt="">
        </div>
        <div class="Medias__swiper-button-next">
          <img src="{{ imgPath }}/arrow_right.png" alt="">
        </div>
    </div>

    <div class="content form" style="background-image: url('{{ imgPath }}/forest-bloc/forest.png'); background-attachment:scroll">
        <div class="container is-why">
            <div class="row why-container">
              <div class="item">
                <span class="why">{{ facts.header.why }}</span>
              </div>
              <div class="item line">
              </div>
              <div class="item">
                <span class="know-that">{{ facts.header.know }}</span>
              </div>
            </div>
            <div class="row card-container">

              <div class="grid-third">
                  <div class="signature">
                      <img src="{{ imgPath }}{{facts.card1.image}}" />
                  </div>

                  <div class="intro ">
                      <p>{{ facts.card1.label }}</p>
                  </div>
              </div>

              <div class="grid-third">
                  <div class="signature">
                      <img src="{{ imgPath }}/forest-bloc/forest-card-2.png" />
                  </div>

                  <div class="intro">
                      <p>{{ facts.card2.label }}</p>
                  </div>
              </div>

              <div class="grid-third">
                  <div class="signature">
                      <img src="{{ imgPath }}/forest-bloc/forest-card-3.png" />
                  </div>

                  <div class="intro">
                      <p>{{ facts.card3.label }}</p>
                  </div>
              </div>

            </div>
        </div>
    </div>

    <div class="content green-block">
        <div class="container">
          <div class="grid-third">
              <img src="{{ imgPath }}/quiz/icon.png" alt="">
          </div>

          <div class="grid-third green-block-knowledge">
              <h1>{{ quiz.knowledge.title }}</h1>
              <p>{{ quiz.knowledge.description }}</p>
          </div>

          <div class="grid-third green-block-quiz-wrapper">
            <a class="quiz-btn" href="https://uneforetdepossibilites.com/fr/conservation-des-forets-et-de-la-nature/quiz-sur-la-sylviculture">
              <span class="quiz-btn-text">{{ quiz.button.label }}</span>
              <svg class="arrow-next-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384.24 209.24"><path d="M279.62,209.24a7,7,0,0,1-4.95-12l85.67-85.67H7a7,7,0,0,1,0-14H360.34L274.67,12a7,7,0,0,1,9.9-9.9l97.62,97.62a7,7,0,0,1,0,9.9l-97.62,97.62A7,7,0,0,1,279.62,209.24Z" style="fill:#fff"/></svg>
            </a>
          </div>
        </div>
    </div>

</div>



<script>

    var elements = document.getElementsByClassName('title');
      elements[2].classList.remove("is-show");
      elements[0].classList.add("is-show");

    var nbElements = 0
    var myInterval = setInterval(function() {
        if(nbElements >= 3) {
          nbElements = 0
        }else{
          nbElements++
        }

        if (nbElements == 0) {
          elements[2].classList.remove("is-show");
          elements[nbElements].classList.add("is-show");
        }
        if (nbElements == 1) {
          elements[0].classList.remove("is-show");
          elements[nbElements].classList.add("is-show");

        }
        if (nbElements == 2) {
          elements[1].classList.remove("is-show");
          elements[nbElements].classList.add("is-show");
        }

        for (var i=0; i<elements.length; i++) {

        }
    }, 5000);


    var mySwiper = new Swiper ('.Medias__swiper-container', {
      // Optional parameters
      direction: 'horizontal',
      loop: true,
      threshold: 15,

      // Navigation arrows
      navigation: {
        nextEl: '.Medias__swiper-button-next',
        prevEl: '.Medias__swiper-button-prev',
      },
    });

    (function(){

        var formContainer = document.querySelector('.content.form');
        var uploadBtnTriggerer = formContainer.querySelector('.btn-upload');
        var uploadInput = formContainer.querySelector('.form-field-photo input');
        var formStep1 = formContainer.querySelector('.form-step[data-step="1"]');
        var formStep2 = formContainer.querySelector('.form-step[data-step="2"]');
        //var submitBtnStep1 = formStep1.querySelector('.submit-btn');
        //var formStep1Inputs = formStep1.querySelectorAll('input');
        //var submitTriggerBtn = formContainer.querySelector('.submit-confirm-btn');
        //var form = formContainer.querySelector('form');
        var lightbox = document.querySelector('#the-lightbox');
        var lightboxIframe = lightbox.querySelector('iframe');
        var lightboxCloseBtn = lightbox.querySelector('.Lightbox__close');
        var sliders = document.querySelectorAll('#page-nosforets .swiper-slide');
        var headerVideoBtn = document.querySelector('#header-content-play');

        var mobileBtn = document.querySelector('.header__menu');
        mobileBtn.addEventListener('click', function(e){
            var isNotVisible = headerVideoBtn.style.display === 'none';
            var container = document.getElementById('page-nosforets');
            var content_intro = container.querySelector('.content.intro')
            var medias = container.querySelector('.Medias')
            var before_form = container.querySelector('.before-form')


            if (isNotVisible){
                headerVideoBtn.style.display = 'flex';
                content_intro.style.display = 'block';
                medias.style.display = 'block';
                before_form.style.display = 'block';
            }
            else{
                headerVideoBtn.style.display = 'none';
                content_intro.style.display = 'none'
                medias.style.display = 'none';
                before_form.style.display = 'none';
            }
        })



        /*
        lightbox.classList.add('is-active');
        var ytID = 'gokIFQbgtXU';
        setTimeout(() => lightboxIframe.setAttribute('src', 'https://www.youtube.com/embed/'+ytID+'?controls=1&showinfo=0&rel=0&autoplay=1'), 0)
        lightboxCloseBtn.addEventListener('click', function(){
            lightbox.classList.remove('is-active');
        })
        */

        lightboxCloseBtn.addEventListener('click', function(){
            lightbox.classList.remove('is-active');
            setTimeout(() => lightboxIframe.setAttribute('src', 'about:blank'), 150)
        })

        headerVideoBtn.addEventListener('click', function(e){
            e.preventDefault();
            lightbox.classList.add('is-active');
            var ytID = 'uoEQG5ml_zw';
            setTimeout(() => lightboxIframe.setAttribute('src', 'https://www.youtube.com/embed/'+ytID+'?controls=1&showinfo=0&rel=0&autoplay=1'), 0)
        })

        for (var i=0; i<sliders.length; i++){

            const ytID = sliders[i].dataset.video
            var btn = sliders[i].querySelector('.Medias__swiper-slide-content-play')

            if (btn){

                btn.addEventListener('click', function(){
                    //e.preventDefault();
                    lightbox.classList.add('is-active');
                    setTimeout(() => lightboxIframe.setAttribute('src', 'https://www.youtube.com/embed/'+ytID+'?controls=1&showinfo=0&rel=0&autoplay=1'), 0)
                }.bind(this, sliders[i] ))
            }
        }







        function valideForm(step){

            var isValid = true;

            if (step === 1){

                var firstname = formStep1.querySelector('[name="firstname"]');
                var lastname = formStep1.querySelector('[name="lastname"]');
                var email = formStep1.querySelector('[name="email"]');

                if (!firstname.value.trim().length){
                    firstname.closest('.input').classList.add('-error');
                    isValid = false;
                }

                if (!lastname.value.trim().length){
                    lastname.closest('.input').classList.add('-error');
                    isValid = false;
                }
                if (!validateEmail(email.value)){
                    email.closest('.input').classList.add('-error');
                    isValid = false;
                }



            }

            if (step === 2){
                var legal = formStep2.querySelector('[name="upload-file-legal"]');
                var photo = formStep2.querySelector('[name="photo"]');
                var testimonials = formStep2.querySelector('[name="testimonials"]');


                if (!legal.checked){
                    legal.closest('.control').classList.add('-error');
                    isValid = false;
                }

                if (!photo.value.trim().length){
                    formStep2.querySelector('.btn-upload').classList.add('-error');
                    isValid = false;
                }

                if (!testimonials.value.trim().length){
                    testimonials.classList.add('-error');
                    isValid = false;
                }



            }

            return isValid;

        }

        function validateEmail(email) {
            var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return re.test(String(email).toLowerCase());
        }


    })();





</script>
