//title = "home.title"
url = "/"
layout = "default"
meta_title = "test meta title"
meta_description = "test meta description"
is_hidden = 0

[viewBag]
localeUrl[en] = "/"

[localePicker]
forceUrl = 1
==

<?php
use RainLab\Translate\Classes\Translator;

function onStart()
{
    $this['pageClass'] = 'page-home';
    //$this['pageKeywords'] = 'forêt québec, parc quebec, industrie forestière quebec, arbres du québec';

    $this->translator = Translator::instance();
    $locale = $this->translator->getLocale();

    if ($locale == "fr") {
        $this["pageTitle"] = "Regroupement forestier du Québec";
        $this["pageDescription"] = "Si la conservation de la nature et du territoire forestier du Québec vous tient à coeur, le Collectif pour une forêt durable vous offre une panoplie d'informations sur les forêts du Québec.";
        $this["pageKeywords"] = "";
    } else if ($locale == "en") {
        $this["pageTitle"] = "Quebec's forest organization";
        $this["pageDescription"] = "If you care about Quebec's nature and forest territory conservation, the Collectif pour une forêt durable gives you a wide array of informations about Quebec's forests.";
        $this["pageKeywords"] = "";
    }


}
?>
==
{% if locale == 'fr' %}
<div class="video-wrap">
    <video autoplay loop id="vid-faq-loop">
        <source src="{{ 'assets/public/images/question_loop2.mp4'|theme }}" type="video/mp4">
    </video>
    <video autoplay id="vid-faq">
        <source src="{{ 'assets/public/images/question2.mp4'|theme }}" type="video/mp4">
    </video>

    <video autoplay loop id="vid-possibilities-loop">
        <source src="{{ 'assets/public/images/home-possibilities-loop.mp4'|theme }}" type="video/mp4">
    </video>
    <video autoplay id="vid-possibilities">
        <source src="{{ 'assets/public/images/home-possibilities-intro.mp4'|theme }}" type="video/mp4">
    </video>

    <video autoplay loop id="vid-cycle-loop">
        <source src="{{ 'assets/public/images/site_CIFQ_cycles_loop2.mp4'|theme }}" type="video/mp4">
    </video>
    <video autoplay id="vid-cycle">
        <source src="{{ 'assets/public/images/site_CIFQ_cycles2.mp4'|theme }}" type="video/mp4">
    </video>
</div>
{% endif %}

{% if locale == 'en' %}
<div class="video-wrap">
    <video autoplay loop id="vid-faq-loop">
        <source src="{{ 'assets/public/images/question_loop2-en.mp4'|theme }}" type="video/mp4">
    </video>
    <video autoplay id="vid-faq">
        <source src="{{ 'assets/public/images/question2-en.mp4'|theme }}" type="video/mp4">
    </video>

    <video autoplay loop id="vid-possibilities-loop">
        <source src="{{ 'assets/public/images/home-possibilities-loop-en.mp4'|theme }}" type="video/mp4">
    </video>
    <video autoplay id="vid-possibilities">
        <source src="{{ 'assets/public/images/home-possibilities-intro-en.mp4'|theme }}" type="video/mp4">
    </video>

    <video autoplay loop id="vid-cycle-loop">
        <source src="{{ 'assets/public/images/site_CIFQ_cycles_loop2-en.mp4'|theme }}" type="video/mp4">
    </video>
    <video autoplay id="vid-cycle">
        <source src="{{ 'assets/public/images/site_CIFQ_cycles2-en.mp4'|theme }}" type="video/mp4">
    </video>
</div>
{% endif %}

<div class="content">
    {% if locale == 'fr' %}
        <img class="cifq-logo" src="{{ 'assets/public/images/foret-de-possibilites.svg'|theme }}" alt="Une forêt de possibilités">
    {% endif %}

    {% if locale == 'en' %}
        <img class="cifq-logo" src="{{ 'assets/public/images/foret-de-possibilites-en.png'|theme }}" alt="A forest of possibilities">
    {% endif %}

    <div class="home__introduction">
      <p>
            {% if locale == 'fr' %}
                En adoptant une approche unique de concevoir et d’aménager la forêt au bénéfice de tous, le Québec a choisi de rendre
                accessible son territoire forestier. Réunir et marier les nombreuses possibilités qui la façonnent est tout un art.
                Cette marque distinctive propre aux forêts québécoises permet ainsi à ceux qui en vivent de continuer à le faire et à
                ceux qui l’utilisent, de continuer à y avoir accès, le tout, de façon responsable et durable pour tous. Bienvenue
                dans une forêt de possibilités.
            {% endif %}

            {% if locale == 'en' %}
                Quebec has chosen to make its forests more accessible by adopting a unique approach to forest management and development that will benefit everyone. The task of uniting and aligning the many possibilities that shape the forest is an art. This distinctive approach to Quebec’s forest allows those who make a living from it to continue to do so, while granting continued access to the people who use it. ¬–All this is done in a way that is responsible and sustainable for everyone. Welcome to a forest of possibilities.
            {% endif %}
      </p>
      <a class="btn btn--cta" href="#">
        <span>{{ 'Entrer'|_ }}</span>
        <svg class="arrow-next-icon" viewBox="0 0 1 1"><use xlink:href="#arrow-next" /></use></svg>
      </a>
    </div>
    <div class="home__main-menu">
        <div class="container">
            <div class="row">
                <div class="grid-fourth">
                    <a class="home-cta" id="faq" href="{{ 'faq'|page }}">{{ '<span>Grands espaces</span><br class="ohhh"><span>Grandes questions</span>'|_ }}</a>
                </div>
                <div class="grid-fourth">
                    <a class="home-cta" id="possibilities" href="{{ 'possibilities'|page }}">{{ '<span>Regard sur</span><br><span>la forêt</span>'|_ }}</a>
                </div>
                <div class="grid-fourth">
                    <a class="home-cta" id="cycle" href="{{ 'cycle'|page }}">{{ '<span>Le parcours</span><br><span>de l’arbre</span>'|_ }}</a>
                </div>
                <div class="grid-fourth">
                    <a class="home-cta" id="workers" href="{{ 'workers'|page }}">{{ '<span>Destination</span><br><span>travailleurs</span>'|_ }}</a>
                </div>
            </div>
            <div class="row">
                <div class="grid-full">
                    <p class="footer-text">
                        {% if locale == 'fr' %}
                           Le <a target="_blank" href="http://partenaires.uneforetdepossibilites.com/fr/partenaires">Collectif pour une forêt durable</a>, c’est donner vie à une forêt de possibilités.
                        {% endif %}
                        {% if locale == 'en' %}
                           The <a target="_blank" href="http://partenaires.uneforetdepossibilites.com/en/partners">Collectif pour une forêt durable</a>, Giving life to a forest of possibilities.
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
