[localePicker]
forceUrl = 0
==

{% set imgPath = '/themes/cifq/assets/public/images' %}

<div class="header">
    <div class="container">
        <div class="row">
            <div class="grid-three-fourths grid-flip grid-" >
                <div class="header__wrap-links">
                    <span class="is-desktop">
                        {% include "site/links.htm" %}
                    </span>
                    <a class="header__menu" href="#"><span>Menu</span> <div class="burger-icon burger-icon--md"><span></span></div></a>
                </div>
            </div>
            <div class="grid-fourth">
                <a href="{{ 'home'|page }}" class="header__logo">{{ 'Une forêt de possibilités'|_ }}</a>
            </div>
        </div>
    </div>
    <div class="isMobile"></div>

     <a href="#" id="header-content-play" class="Medias__swiper-slide-content-play">
        <img src="{{ imgPath }}/play_btn.png">
        <p class="Header__play-btn">{{ video.button.label }}</p>
    </a>

</div>