[localePicker]
forceUrl = 0
==

{% set imgPath = '/themes/cifq/assets/public/images' %}

<style>

.header__secondary-links.lang-switcher{
    max-width: 40px;
    padding-left: 0;
}

.header__secondary-links.lang-switcher .form-control{
    padding: 2px 5px;
    width: 42px;
}

@media screen and (min-width: 961px) {
    .header__secondary-links.lang-switcher{
        margin-right: 14px;
    }
}

</style>

<div class="header">
    <div class="container">
        <div class="row">
            <div class="grid-three-fourths grid-flip grid-" >
                <div class="header__wrap-links">
                    {% include "site/links.htm" %}
                    <a class="header__menu" href="#"><span>Menu</span> <div class="burger-icon burger-icon--md"><span></span></div></a>
                </div>
            </div>
            <div class="grid-fourth">
                <a href="{{ 'home'|page }}" class="header__logo">{{ 'Une forêt de possibilités'|_ }}</a>
            </div>
        </div>
    </div>
    <div class="isMobile"></div>
    <div class="container" style="position: relative;">
        <div class="row">
            <div class="grid-full">
                <a href="#" id="header-content-play" class="Medias__swiper-slide-content-play">
                    <img src="{{ imgPath }}/play-btn2.png">
                    <p class="Header__play-btn">{{ video.button.label|raw }}</p>
                </a>
            </div>
        </div>
    </div>

</div>