
  <div class="header__secondary-links">
      {% if locale == 'fr' %}
          <a href="http://partenaires.uneforetdepossibilites.com/fr/partenaires" target="_blank">{{ 'Le collectif'|_ }}</a>
      {% endif %}
      {% if locale == 'en' %}
          <a href="http://partenaires.uneforetdepossibilites.com/en/partners" target="_blank">{{ 'Le collectif'|_ }}</a>
      {% endif %}
  </div>
  <div class="header__secondary-links">
      {% if locale == 'fr' %}
          <a target="_blank" href="http://partenaires.uneforetdepossibilites.com/fr">{{ 'Partenaires'|_ }}</a>
      {% endif %}
      {% if locale == 'en' %}
          <a target="_blank" href="http://partenaires.uneforetdepossibilites.com/en">{{ 'Partenaires'|_ }}</a>
      {% endif %}
  </div>
  <div class="header__secondary-links">
      <a href="https://facebook.com/uneforetdepossibilites/" target="_blank" class="Header__navigation-social">
          <i class="fab fa-facebook-f"></i>
      </a>
      <a href="https://www.instagram.com/uneforetdepossibilites/" target="_blank" class="Header__navigation-social">
         <i class="fab fa-instagram"></i>
      </a>
      <a href="https://www.youtube.com/channel/UCF2sXehDojg9K6CSK8_VtrA" target="_blank" class="Header__navigation-social">
         <i class="fab fa-youtube"></i>
      </a>
  </div>
  {# A la demande du client: Ne pas voir le EN - Switch des lang #}
  <div class="header__secondary-links lang-switcher">
      {% component 'localePicker' %}
  </div>
