<nav class="nav">
    <div class="nav__content">
        <div class="container">
            <div class="row">
                <div class="grid-full">
                    <div class="nav__content--menu">
                        <ul class="nav__content--menu-main">
                            <li>
                                <a href="{{ 'faq'|page }}">
                                    <span>{{ 'Grands espaces, grandes questions'|_ }} <svg class="arrow-next-icon" viewBox="0 0 1 1"><use xlink:href="{{ 'assets/public/images/icons.svg#arrow-next'|theme }}" /></use></svg></span>
                                </a>
                            </li>
                            <li>
                                <a href="{{ 'possibilities'|page }}">
                                    <span>{{ 'Regard sur la forêt'|_ }} <svg class="arrow-next-icon" viewBox="0 0 1 1"><use xlink:href="{{ 'assets/public/images/icons.svg#arrow-next'|theme }}" /></use></svg></span>
                                </a>
                            </li>
                            <li>
                                <a href="{{ 'cycle'|page }}">
                                    <span>{{ 'Le parcours de l’arbre'|_ }} <svg class="arrow-next-icon" viewBox="0 0 1 1"><use xlink:href="{{ 'assets/public/images/icons.svg#arrow-next'|theme }}" /></use></svg></span>
                                </a>
                            </li>
                        </ul>
                        {% if locale == 'fr' %}
                           <a class="btn partners-btn" target="_blank" href="http://partenaires.uneforetdepossibilites.com/fr">
                        {% endif %}
                        {% if locale == 'en' %}
                           <a class="btn partners-btn" target="_blank" href="http://partenaires.uneforetdepossibilites.com/en">
                        {% endif %}

                            <span>{{ 'Espace partenaires'|_ }}</span>
                            <svg class="arrow-next-icon" viewBox="0 0 1 1"><use xlink:href="{{ 'assets/public/images/icons.svg#arrow-next'|theme }}" /></use></svg>
                        </a>
                        <small class="nav__copy">&copy; {{ 'Collectif pour une forêt durable. Tous droits réservés.'|_ }}
                            {% if locale == 'fr' %}
                                <a href="{{ 'assets/documents/confidentiality_policy_CIFQ.pdf'|theme }}" target="_blank">{{ 'Politiques de confidentialité'|_ }}</a>.
                            {% endif %}
                            {% if locale == 'en' %}
                                <a href="{{ 'assets/documents/confidentiality_policy_CIFQ.pdf'|theme }}" target="_blank">{{ 'Politiques de confidentialité'|_ }}</a>.
                            {% endif %}
                            </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="nav__overlay"></div>
</nav>
