@font-face {
  font-family: 'Pantograph';
  src: url('../fonts/Pantograph.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Pantograph.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Pantograph.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Pantograph.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Pantograph.svg#deccd83dceeb67f4ff7d58eaffbb7758') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Plantin Std';
  src: url('../fonts/PlantinStd-Italic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/PlantinStd-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/PlantinStd-Italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/PlantinStd-Italic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/PlantinStd-Italic.svg#5cfad500d5639f98b8c99f97ed548438') format('svg'); /* Legacy iOS */

  font-style:   italic;
  font-weight:  400;
}

@font-face {
  font-family: 'Plantin Std';
  src: url('../fonts/PlantinStd.eot'); /* IE9 Compat Modes */
  src: url('../fonts/PlantinStd.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/PlantinStd.woff') format('woff'), /* Modern Browsers */
       url('../fonts/PlantinStd.ttf')  format('truetype'), /* Safari, Android, iOS */;

  font-style:   normal;
  font-weight:  400;
}
